{% extends 'commonPage.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>assignment3_1</title>
</head>

{% block main %}
{{ super() }}
    {% if actor_info %}

        <div class="title">
        <h2>Actor:</h2>
        </div>

        <div class="container">
            <div class="border">
                <h2>Actor Info</h2>
                {% for title, value in actor_info.items() %}
                    <h4>{{ title |capitalize()}}: {{ value | upper()}}</h4>
                {% endfor %}
            </div>
        </div>
        <br><br>

        <div class="container">
            <div class="border">
                <h2>Actor's best movies</h2>
                {% for movie in best_movies|sort()|unique %}
                        <h4>{{ movie | capitalize() }}</h4>
                {% endfor %}
            </div>
        </div>
        <br><br>

         <div class="container">
             <div class="border">
                <h2>Actor's awards</h2>
                {% for award in awards|sort()|unique %}
                      <h4>{{ award | capitalize()}}</h4>
                {% endfor %}
             </div>
         </div>

    {% else %}
        <h3>No info. Please log in.</h3>

    {% endif %}

{% endblock %}
</html>